$fontSize: 10px;

$aubergine: #b2a0a0;
$aubergineDark: #6b5e5e;
$aubergineLight: #dfd9d9;

$bronze: #b06442;
$bronzeStar: #d0825e;
$silver: #4c4c4c;
$silverStar: #8a8b8d;
$gold: #cc9933;
$goldStar: #e0bf72;
$platinum: #bbbbbb;

$black: #1a1a1a;
$white: #fff;